* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 320px;
  height: 480px;
  background-color: black;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: 30%;
}

.result span {
  margin-right: 20px;
  font-size: 60px;
  justify-self: flex-end;
}

.buttons {
  width: 100%;
  height: 70%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  border: none;
}

.i17 {
  width: 130px;
  border-radius: 30px;
  grid-column: span 2;
}

.i1, .i2, .i3 {
  background-color: #A5A5A5;
}

.i5, .i6, .i7, .i9, .i10, .i11, .i13, .i14, .i15, .i17, .i18 {
  background-color: #333333;
}

.i4, .i8, .i12, .i16, .i19 {
  background-color: #f1a33b;
}

.item:hover {
  filter: brightness(1.5);
}

.item:active {
  transform: scale(0.95);
}